        /* Estilo del contenedor del chat */
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        .chat-container {
            width: 400px;
            border: 1px solid #333;
            margin: 0 auto;
            padding: 20px;
            background-color: #272727;
            color: #fff;
        }

        /* Estilo de los mensajes */
        .message {
            margin: 10px 0;
            word-wrap: break-word;
            overflow: auto;
            font-size: 14px;
        }

        /* Estilo de los mensajes del usuario */
        .user-message {
            background-color: #025c4c;
            text-align: right;
            float: right;
            clear: both;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
        }

        /* Estilo de los mensajes del otro usuario */
        .other-user-message {
            background-color: #373737;
            padding: 10px;
            border-radius: 10px;
            text-align: left;
            float: left;
            clear: both;
            color: #fff;
        }

        /* Estilo de la fecha y el nombre */
        .message-info {
            font-size: 12px;
            color: #727171de;
            text-align: left;
            clear: both;
        }

        .message-info.user{

            text-align: right;
            
        }